
x64/Debug/Application.obj
x64/Debug/main.obj
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
x64/Debug/VulkanRenderer.Build.CppClean.log
x64/Debug/VulkanRenderer.log
x64/Debug/VulkanRenderer.tlog/CL.command.1.tlog
x64/Debug/VulkanRenderer.tlog/CL.read.1.tlog
x64/Debug/VulkanRenderer.tlog/CL.write.1.tlog
x64/Debug/VulkanRenderer.tlog/link.command.1.tlog
x64/Debug/VulkanRenderer.tlog/link.read.1.tlog
x64/Debug/VulkanRenderer.tlog/link.write.1.tlog
x64/Debug/VulkanRenderer.tlog/VulkanRenderer.lastbuildstate
x64/Release/Application.obj
x64/Release/main.obj
x64/Release/vc141.pdb
x64/Release/VulkanRenderer.Build.CppClean.log
x64/Release/VulkanRenderer.log
x64/Release/VulkanRenderer.tlog/CL.command.1.tlog
x64/Release/VulkanRenderer.tlog/CL.read.1.tlog
x64/Release/VulkanRenderer.tlog/CL.write.1.tlog
x64/Release/VulkanRenderer.tlog/link.command.1.tlog
x64/Release/VulkanRenderer.tlog/link.read.1.tlog
x64/Release/VulkanRenderer.tlog/link.write.1.tlog
x64/Release/VulkanRenderer.tlog/VulkanRenderer.lastbuildstate
x64/Release/VulkanRenderer.tlog/VulkanRenderer.write.1u.tlog
x64/Debug/Model.obj
x64/Debug/ModelLoader.obj
x64/Debug/ModelManager.obj
x64/Release/Model.obj
x64/Release/ModelLoader.obj
x64/Release/ModelManager.obj
x64/Debug/Scene.obj
x64/Release/Camera.obj
x64/Release/Scene.obj
x64/Release/ModelComponent.obj
x64/Release/GameObject.obj
x64/Debug/ModelComponent.obj
x64/Debug/GameObject.obj
x64/Debug/Camera.obj
