
x64/*
VulkanRenderer.iobj
VulkanRenderer.ipdb
VulkanRenderer.pdb
*.exe
*.db
*.opendb
*.ipch
*.idb
*.pdb
*.log
*.tlog
*.ilk
.vs/VulkanRenderer/v15/.suo
.vs/VulkanRenderer/v15/Solution.VC.db-shm
.vs/VulkanRenderer/v15/Solution.VC.db-wal
CMakeCache.txt
CMakeFiles/*
VulkanRenderer.dir/*
\.codelite/
VulkanRenderer\.workspace
VulkanRenderer\.project
VulkanRenderer\.cbp
VulkanRenderer
Makefile
*.cmake
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
include/glfw-3.2.1/src/Debug/*
include/glfw-3.2.1/src/glfw.dir/*
*.stamp
*.stamp.depend
*.sdf
*.suo
VulkanRenderer\.workspace\.layout
include/glfw-3.2.1/examples/*
include/glfw-3.2.1/tests/*
include/glfw-3.2.1/cmake_uninstall.cmake
VulkanRenderer.opensdf
include/glfw-3.2.1/src/Release/glfw3.lib
.DS_Store
include/glfw-3.2.1/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
include/glfw-3.2.1/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
include/glfw-3.2.1/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
include/glfw-3.2.1/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
include/glfw-3.2.1/CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
include/glfw-3.2.1/CMakeScripts/install_postBuildPhase.makeDebug
include/glfw-3.2.1/CMakeScripts/install_postBuildPhase.makeMinSizeRel
include/glfw-3.2.1/CMakeScripts/install_postBuildPhase.makeRelease
include/glfw-3.2.1/CMakeScripts/install_postBuildPhase.makeRelWithDebInfo
include/glfw-3.2.1/CMakeScripts/uninstall_cmakeRulesBuildPhase.makeDebug
include/glfw-3.2.1/CMakeScripts/uninstall_cmakeRulesBuildPhase.makeMinSizeRel
include/glfw-3.2.1/CMakeScripts/uninstall_cmakeRulesBuildPhase.makeRelease
include/glfw-3.2.1/CMakeScripts/uninstall_cmakeRulesBuildPhase.makeRelWithDebInfo
include/glfw-3.2.1/CMakeScripts/XCODE_DEPEND_HELPER.make
include/glfw-3.2.1/GLFW.xcodeproj/project.pbxproj
include/glfw-3.2.1/src/glfw3.pc
include/glfw-3.2.1/src/glfw_config.h
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_init.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_init.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_init.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_joystick.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_joystick.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_joystick.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_monitor.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_monitor.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_monitor.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_time.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_time.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_time.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_window.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_window.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/cocoa_window.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/context.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/context.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/context.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/glfw3.LinkFileList
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/init.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/init.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/init.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/input.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/input.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/input.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/monitor.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/monitor.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/monitor.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/nsgl_context.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/nsgl_context.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/nsgl_context.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/posix_tls.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/posix_tls.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/posix_tls.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/vulkan.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/vulkan.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/vulkan.o
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/window.d
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/window.dia
include/glfw-3.2.1/src/VulkanRenderer.build/Debug/glfw.build/Objects-normal/x86_64/window.o
build/XCBuildData/9041958f06037d74717353b55a7bcbcc-desc.xcbuild
build/XCBuildData/9041958f06037d74717353b55a7bcbcc-manifest.xcbuild
build/XCBuildData/acba3cfe8e378ac5f09e5f40a4830679-desc.xcbuild
build/XCBuildData/acba3cfe8e378ac5f09e5f40a4830679-manifest.xcbuild
build/XCBuildData/ba2d76658bf17484101e016a7f2632f0-desc.xcbuild
build/XCBuildData/ba2d76658bf17484101e016a7f2632f0-manifest.xcbuild
build/XCBuildData/BuildDescriptionCacheIndex-37376e8c5d3a4ebc488580747ed663fe
build/XCBuildData/fb31f061303000c4ca3587cad4ba7985-desc.xcbuild
build/XCBuildData/fb31f061303000c4ca3587cad4ba7985-manifest.xcbuild
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeDebug
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeMinSizeRel
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelease
CMakeScripts/ALL_BUILD_cmakeRulesBuildPhase.makeRelWithDebInfo
CMakeScripts/install_postBuildPhase.makeDebug
CMakeScripts/install_postBuildPhase.makeMinSizeRel
CMakeScripts/install_postBuildPhase.makeRelease
CMakeScripts/install_postBuildPhase.makeRelWithDebInfo
CMakeScripts/XCODE_DEPEND_HELPER.make
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Application.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Application.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Application.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Camera.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Camera.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Camera.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/GameObject.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/GameObject.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/GameObject.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Helpers.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Helpers.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Helpers.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/main.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/main.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/main.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/MetalRenderer.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/MetalRenderer.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/MetalRenderer.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/MetalWrapper.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/MetalWrapper.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/MetalWrapper.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/ModelComponent.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/ModelComponent.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/ModelComponent.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/PointLightComponent.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/PointLightComponent.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/PointLightComponent.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Scene.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Scene.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Scene.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/TranslationComponent.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/TranslationComponent.dia
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/TranslationComponent.o
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/VulkanRenderer.LinkFileList
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/VulkanRenderer_dependency_info.dat
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Window.d
VulkanRenderer.build/Debug/VulkanRenderer.build/Objects-normal/x86_64/Window.dia
VulkanRenderer.xcodeproj/project.pbxproj
VulkanRenderer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VulkanRenderer.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VulkanRenderer.xcodeproj/project.xcworkspace/xcuserdata/jasonwood.xcuserdatad/UserInterfaceState.xcuserstate
VulkanRenderer.xcodeproj/project.xcworkspace/xcuserdata/jasonwood.xcuserdatad/WorkspaceSettings.xcsettings
VulkanRenderer.xcodeproj/xcuserdata/jasonwood.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
VulkanRenderer.xcodeproj/xcuserdata/jasonwood.xcuserdatad/xcschemes/xcschememanagement.plist
include/glfw-3.2.1/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
lib/Debug/*
Debug/*
Debug/VulkanRenderer.lib
Debug/VulkanRenderer.exp
bin/Debug/assimp-vc140-mt.lib
bin/Debug/*
bin/*
build/*
build
VulkanRenderer.xcodeproj/xcuserdata/jasonwood.xcuserdatad/xcschemes/VulkanRenderer.xcscheme
VulkanRenderer.build/*
lib/Release/libassimp.a
lib/Release/libIrrXML.a
lib/libIrrXML.a
lib/libIrrXMLd.a
lib/libassimp.a
lib/libassimpd.a
.vscode/tasks.json
._.DS_Store
._*
AssimpLog.txt
imgui.ini
.vs/Plumbus/v16/Solution.VC.db-shm
.vs/Plumbus/v16/Solution.VC.db-wal
intermediate/*
PlumbusTester/bin/*
PlumbusTester/intermediate/*