
x64/*
VulkanRenderer.iobj
VulkanRenderer.ipdb
VulkanRenderer.pdb
*.exe
*.db
*.opendb
*.ipch
*.idb
*.pdb
*.log
*.tlog
*.ilk
.vs/VulkanRenderer/v15/.suo
.vs/VulkanRenderer/v15/Solution.VC.db-shm
.vs/VulkanRenderer/v15/Solution.VC.db-wal
CMakeCache.txt
CMakeFiles/*
VulkanRenderer.dir/*
\.codelite/
VulkanRenderer\.workspace
VulkanRenderer\.project
VulkanRenderer\.cbp
VulkanRenderer
Makefile
*.cmake
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
include/glfw-3.2.1/src/Debug/*
include/glfw-3.2.1/src/glfw.dir/*
*.stamp
*.stamp.depend
*.sdf
*.suo
VulkanRenderer\.workspace\.layout
