[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/gli"]
	path = third_party/gli
	url = https://github.com/g-truc/gli
[submodule "third_party/SPIRV-Cross"]
	path = third_party/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
