# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.PlumbusTester.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\dev\My_Checkouts\plumbusengine\PlumbusTester\.idea\.idea.PlumbusTester\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
